#intro h1 {
    margin-bottom: 0;
}

#intro h3 {
    color: #DF1835;
    /* TODO: Webfont DINpro or fallback font needed here */
    font-family: "DINPro", sans-serif;
    margin-right: 1.5%;
    text-transform: lowercase
}

.powered-by {
    display: flex;
    justify-content: center;
    align-items: center;
}

.powered-by img {
  height: 3vw;
}

/* Section: Kleur */
#kleur h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

/* grid for kleur */
.grid-container-kleur {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". white blonde amber. " 
    ". red brown black .";

    align-items: center;
    justify-items: center;

    text-align: center;
}
  
.white { grid-area: white; }
  
.blonde { grid-area: blonde; }
  
.amber { grid-area: amber; }
  
.red { grid-area: red; }
  
.brown { grid-area: brown; }
  
.black { grid-area: black; }

/* illustrations */
.illustration {
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  background-color: #F8EEE4; 

  margin: 65% 0 8% 0;
  position: relative;
}

.bg {
  border: .5vw solid white;
  position: absolute;
  /*TODO: - values to fix the positioning of the wave */
  left: -2;
  right: -2;
  top: -2;
  bottom: -2;
  background: url("https://d1uyinv54o97jy.cloudfront.net/assets/wave-d2e295e21dcc67d695843460baf8f36742ce871c0ef561c7fe09022cea26b2e5.png");
  background-position: 0px 0px;
	background-repeat: repeat-x;

  animation: animatedBackground 25s linear infinite;
  border-radius: 50%;

  animation-play-state: paused;
}

.bg:hover {
    animation-play-state: running;
}

/* Colors of the beer colors */
.white .illustration {
    background-color: #D2CA85;
}

.blonde .illustration {
    background-color: #CBB24A;
}

.amber .illustration {
    background-color: #9D531C;
}

.red .illustration {
    background-color: #A92E24;
}

.brown .illustration {
    background-color: #753D24;
}

.black .illustration {
    background-color: #1E130F;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

/* Section alcohol */

/* Slider */
.slidecontainer {
    width: 60%;
    margin: 0 auto;
  }

  /* FIXME: Remove all borders except for here! */
  .bg, .slider, .beer-1, .beer-2, .beer-3, .slider::-webkit-slider-thumb, textarea, .soort-1, .soort-2, .soort-3, .ingredient-1, .ingredient-2, .ingredient-3{
    border: .5vw solid white;
  }

  /* Active styling for the selection items */
  .clicked-border { 
    border: .5vw solid black;
  }

  .play-animation {
    animation-play-state: running;
  }

  .active {
    border: .5vw solid black;
    animation-play-state: running;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2vw;
    background: #A27F48;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    /* border: .5vw solid white; */
    background: #A27F48;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 4%;
    height: 4%;
    border-radius: 50%;
    background: #A27F48;
    cursor: pointer;
  }

/* Soort */
.grid-container-soort {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". soort-1 soort-2 soort-3 .";
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 20px;
  }

  .soort-1 img, .soort-2 img, .soort-3 img {
    width: 100%;
  }
  .soort-1 { 
      grid-area: soort-1;
    }
  
  .soort-2 { 
      grid-area: soort-2; 
    }
  
  .soort-3 { 
      grid-area: soort-3; 
    }

/* Gulpener bier */
.grid-container-gulpener-bier {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". beer-1 beer-2 beer-3 .";

    align-items: center;
    justify-items: center;

    text-align: center;

    grid-gap: 20px;
  }

  .beer-1 img, .beer-2 img, .beer-3 img {
    width: 100%;
  }
  
  .beer-1 { 
      grid-area: beer-1;
    }
  
  .beer-2 { 
      grid-area: beer-2; 
    }
  
  .beer-3 { 
      grid-area: beer-3; 
    }

/* Extra ingredienten */
.grid-container-extra-ingredienten{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". ingredient-1 ingredient-2 ingredient-3 .";

    align-items: center;
    justify-items: center;

    text-align: center;

    grid-gap: 20px;
  }

  .ingredient-1 img, .ingredient-2 img, .ingredient-3 img {
    width: 100%;
  }
  
  .ingredient-1 { 
      grid-area: ingredient-1;
    }
  
  .ingredient-2 { 
      grid-area: ingredient-2; 
    }
  
  .ingredient-3 { 
      grid-area: ingredient-3; 
    }

/* Zoom in on image testing */
  .beer-1:hover, .beer-2:hover, .beer-3:hover {
    opacity: 1;
  }

  /* .beer-1:focus, .beer-2:focus, .beer-3:focus {
    border: 5px solid black;
  } */

/* Opmerkingen */
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #DDCEBB;
    /* border: 5px solid white; */
    padding: 20px;

    font-size: 1em;
    /* TODO: Check how to use the Gilroy font... */
    /* font-family: inherit; */
}

textarea:focus {
    outline: none;
    border: .5vw solid black;
}

/* Button1 styling */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-brouwen {
  margin-top: 8%;
  padding: 2%;
  width: 25%;
  font-size: 2vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  color: black;
  transition: .3s ease-in-out;
}

.start-brouwen:focus {
  outline: none;
  /* TODO: Find alternative for the opacity change... */
  opacity: .5;
}

.start-brouwen:hover {
  background-color: #DF1835;
  color: #f2f2f2;
  border: 2px solid #DF1835;
}

/* Hover zoom */
.beer-1, .beer-2, .beer-3, .soort-1, .soort-2, .soort-3, .ingredient-1, .ingredient-2, .ingredient-3 {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

img {
  transition: transform .5s ease;
}

.beer-1:hover img, .beer-2:hover img, .beer-3:hover img, .soort-1:hover img, .soort-2:hover img, .soort-3:hover img, .ingredient-1:hover img, .ingredient-2:hover img, .ingredient-3:hover img {
  transform: scale(1.1);
}

/* Popup overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  border: .5vw solid black;
  background-color: #F8EEE4;
  color: black;
  padding: 2% 2% 6% 2%;

  text-align: center;
}

#text h2 {
  font-size: 3.5vw;
}

#text p {
  font-size: 2vw;
}

#text .start-brouwen {
  font-size: 2vw;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
    .grid-container-kleur {
      grid-template-columns: .1fr 1fr 1fr .1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      ". white blonde ."
      ". amber red ."
      ". brown black .";
  }

  /* illustrations */
  .illustration {
    height: 20vw;
    width:  20vw;
  }

  #kleur p {
    font-size: 4vw;
  }

  /* FIXME: JS Overwrites the border size, fix this in js file!*/
  .bg, .slider, .beer-1, .beer-2, .beer-3, .slider::-webkit-slider-thumb, textarea, .soort-1, .soort-2, .soort-3, .ingredient-1, .ingredient-2, .ingredient-3 {
    border: 1.5vw solid white;
  }

  textarea:focus {
    border: 1.5vw solid black;
  }

  .clicked-border { 
    border: 1.5vw solid black;
  }

  /* Slider */
  .slider {
    height: 5vw;
    border: 1vw solid white;
  }

  .slider::-webkit-slider-thumb {
    width: 6.5vw;
    height: 6.5vw;
    border: 1vw solid white;
  }

  /* Grids of the 'soort, gulpener-bieren and extra-ingredienten sections */
  .grid-container-soort {
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". soort-1 ."
    ". soort-2 ."
    ". soort-3 .";
  }

  .grid-container-gulpener-bier {
    grid-template-columns: .1fr 1fr.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". beer-1 ."
    ". beer-2 ."
    ". beer-3 .";
  }

  .grid-container-extra-ingredienten{
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". ingredient-1 ."
    ". ingredient-2 ."
    ". ingredient-3 .";
  }

  /* Start brouwen button */
  .start-brouwen {
    font-size: 3vw;
    width: 40%;
    margin-top: 2em;
  }

  .active {
    border: 1.5vw solid black;
    animation-play-state: running;
  }
}