/* TODO: Spacing between the sections
is not even because the headings have margins
either remove the margins, or keep them 
the same height for all of the sections */

/* TODO: _onclick for all elements that do something when clicked
eg: clicking the red beer color gives it a black border color
and saves it to an array of an object? */

/* Load in Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

* { 
  /* background-color: #F8EEE4; */
  font-family: 'Montserrat', sans-serif;
}

html, body {
  background-color: #F8EEE4;
}

/* Spacing between sections */
section {
    padding: 5% 0 5% 0;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 8%;
}

h1, h2, h3, p {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.5vw;
}

h3 {
    font-size: 2.5vw
}

p {
  font-size: 2vw;
}